.inputWrapper {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: 5px 14px;
    border-radius: 15px;
    box-shadow: 0 0 0 1px #eaeaea;
    transition: 0.2s ease;
}

.inputWrapper:focus-within {
    box-shadow: 0 0 0 1px #ff9cbf;
}

.input {
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Inter-TextoNormal';
    width: 100%;
    padding: 7px;
    font-size: 14px;
    font-family: 'Inter-TextoNormal';
    color: #4b5563;
}

.input::placeholder {
    opacity: 0.5;
}
