.button {
    display: flex;
    justify-content: center;   
    align-items: center;       
    gap: 7px;
    color: white;
    border: none;
    padding: 13px 18px;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: "Inter-Titulos";
    font-size: 16px;
}
button:hover {
    opacity: 0.85;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}